@page "/connections"
@inject NavigationManager NavigationManager
@using BlazorApp.Shared
@using BlazorApp.Client.Layout.PageComponents
@using System.Net.Http.Json

<head>
    <title>Conestoga Connects</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header>
        <NavBar/>
    </header>
    <div class="container">
        @if (AllUsers != null)
        {
        <FriendSection contacts="@AllUsers" Title="Friends" Width="46vw" Height="80vh"/>
        <ContactSection contacts="@AllUsers" Title="Find New" Width="46vw" Height="80vh"/>
        }
        else
        {
        <p>Loading...</p>
        }
    </div>
</body>

@code {
    private HttpClient httpClient;
    public List<ContactModel> AllUsers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        httpClient = new HttpClient();
        // Get the list of all users
        AllUsers = await httpClient.GetFromJsonAsync<List<ContactModel>>("https://localhost:7052/api/users");

    }
}

<style>
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    background-color: #556c6d;

}
.container {
    display: flex;
    align-items: flex-start;
    padding: 20px; /* Adjust padding as needed */
    gap: 1.5vw; 
    margin-top: 50px;
    margin-left: -1vw;
}
header {
    width: 100%;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 80px; /* Adjust the height as needed */
    background-color: #556c6d;
    color: white;
    display: flex;
    align-items: center; /* Align items vertically to the center */
    justify-content: left;
}
</style>
