@page "/connections"
@inject NavigationManager NavigationManager
@using BlazorApp.Shared
@using BlazorApp.Client.Layout.PageComponents

<head>
    <title>Conestoga Connects</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<header>
    <NavBar/> 
</header>

<body>

</body>


<style>
    header {
    width: 100%;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 80px; /* Adjust the height as needed */
    background-color: #556c6d;
    color: white;
    display: flex;
    align-items: center; /* Align items vertically to the center */
    justify-content: left;
}
</style>
