@using BlazorApp.Client.Layout.PageComponents
@using BlazorApp.Shared

<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
</head>

<div class="contact" @onclick="HandleClick">
    <ProfileImageComponent ImageUrl="@contactModel.ImageUrl" Size="50px"/>
    <div class="contact-name"> <!--Div used to display the element on two different lines-->
        <p><b>@contactModel.Name</b></p>
        <p class="intro-text">@contactModel.IntroText</p>
    </div>
</div>

<style>
    .contact {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-weight: 500;
    }
    .intro-text {
        font-size: 0.8em;
    }
    .contact img {
        margin-right: 10px;
    }
    p {
        margin: 2px;
        font-family: 'Poppins', sans-serif;
        user-select: none;
    }

    .contact:hover {
        background-color: #f9f9f9;
        cursor: pointer;
    }
</style>

@code {
    [Parameter]
    public ContactModel contactModel { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }


    private async Task HandleClick()
    {
        //If the commponent is used for searching, then add the contact to the users contacts
        if (IsForSearching)
        {
            //await ContactService.AddContact(contactModel);
        }
        else
        {
            //If the component is used for navigating between chats, invoke the event callback to notify the parent
            //component about the contact selection
            await OnContactSelected.InvokeAsync(ContactModel);
        }
    }
}



