@using BlazorApp.Shared;
@using BlazorApp.Client.Layout.PageComponents;

@if (Contacts != null && Contacts.Any())
{
        <div class="contact-list">
        @foreach (var contact in Contacts)
        {
                    <ContactComponent contactModel="@contact" IsForSearching="@IsForSearching" OnContactSelected="@OnContactSelected"/>
        }

        @if (Contacts.Count == 0)
        {
                    <p>No contacts available.</p>
        }
        </div>
}
else
{
        <p>No contacts available.</p>
}

<style>
    .contact-list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: @Height;
        width: @Width;
    }
</style>

@code {
    [Parameter]
    public List<ContactModel> Contacts { get; set; }

    [Parameter]
    public EventCallback<ContactModel> OnContactSelected { get; set; }

    [Parameter]
    public bool IsForSearching { get; set; }

    [Parameter]
    public string Width { get; set; }
    [Parameter]
    public string Height { get; set; }

}

