@using BlazorApp.Shared;
@using BlazorApp.Client.Layout.PageComponents;

@if (Contacts != null && Contacts.Any())
{
    <div class="contact-list">
        @foreach (var contact in Contacts)
        {
            <ContactComponent contactModel="@contact"/>
        }

        @if (Contacts.Count == 0)
        {
        }
    </div>
}

<style>
    .contact-list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: @Height;
        width: @Width;
    }
</style>

@code {
    [Parameter]
    public List<ContactModel> Contacts { get; set; }

    [Parameter]
    public string Width { get; set; }
    [Parameter]
    public string Height { get; set; }
}
