@page "/signup"
@inject NavigationManager NavigationManager

@using BlazorApp.Shared
@using BlazorApp.Client.Pages.Components

<TitleComponent Title="Conestoga Connects" Level="1" />

<EditForm Model="@signupForm" OnValidSubmit="HandleSignup">
    <TitleComponent Title="Sign-Up" Level="3" />

    <TextInput Label="First Name" Placeholder="First Name" @bind-value="signupForm.FirstName" />
    <TextInput Label="Last Name" Placeholder="Last Name" @bind-value="signupForm.LastName" />
    <TextInput Label="Username" Placeholder="Username" @bind-value="signupForm.Username" />
    <TextInput Label="Password" Placeholder="Password" Type="password" @bind-value="signupForm.Password" />
    <TextInput Label="Confirm Password" Placeholder="Confirm Password" Type="password" @bind-value="signupForm.ConfirmPassword" />
    <TextInput Label="Email" Placeholder="Email" @bind-value="signupForm.Email" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign-Up</button>
    </div>
</EditForm>


@code {
    SignupFormModel signupForm = new SignupFormModel();
    private void HandleSignup()
    {
        NavigationManager.NavigateTo("/home");//redirect to home page -- not implemented yet
    }
}
